body {
  background-color:rgb(0, 110, 110);
  font-family: Liga SFMono Nerd Font;
  font-weight: 300;
  color: white;
}

fieldset {
  border: 2px solid lightgrey;
}

button {
  margin-top: 5px;
  padding: 10px;
}